{% extends "base_auth.html" %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title text-center mb-4">
                    <h4>Register for a free account</h4>
                </div>
            
            <form action="{% url 'register' %}" method="post">

                {% csrf_token %}

                {% include "partials/_messages.html" %}
                    <div class="form-group mb-3">
                        <input 
                            type="text" 
                            name="username" 
                            placeholder="Username"
                            id="usernameField" 
                            class="form-control form-control-sm"
                            value="{{fieldValues.username}}"
                        />
                    </div>
                    <div class="invalid-username invalid-feedback" style="display:none"> </div>
                    <p class="text.sm text-success usernameSuccessOutput"></p>

                    <div class="form-group mb-3">
                        <input 
                            type="email" 
                            name="email" 
                            placeholder="Email"
                            id="emailField" 
                            class="form-control form-control-sm"
                            value="{{fieldValues.email}}"
                        />
                    <div class="invalid-email invalid-feedback" style="display:none"> </div>
                    <p class="text.sm text-success emailSuccessOutput"></p> 

                    </div>
                    <div class="form-group mb-3">
                        <div class="input-group">
                            <input 
                                type="password" 
                                name="password" 
                                placeholder="Password"
                                id="passwordField" 
                                class="form-control form-control-sm"
                            />
                            <div class="input-group-append">
                                <small class="input-group-text showPasswordToggle" style="font-size: 0.75rem;">SHOW</small>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Register" class="btn btn-primary submit-btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>  

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}
